
<!DOCTYPE html>
<html lang="zh-CN" ng-app="myApp" ng-controller="orderController as order">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>加密货币交易平台</title>
<meta name="keywords" content="比特币交易平台,比特币,BTC,比特币价格,比特币行情,USDT,莱特币,BCH,以太坊,ETH,以太经典" />
<meta name="description" content="比特币交易平台,莱特币(LTC),以太坊(ETH),比特币现金(BCH),以太经典(ETC)达世币(DASH)等虚拟货币以比特币(BTC)、USDT进行交易！提供实时比特币价格,比特币行情。" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="../libs/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="../libs/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/order.css">
<link rel="stylesheet" type="text/css" href="../libs/languages.min.css">


</head>
<body>
<!-- header -->
<!-- header -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../index.html">Bitcoin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="./ordinaryTrade.html">普通交易<span class="sr-only">(current)</span></a></li>
        <li><a href="#">币币交易</a></li>
        <li><a href="#">发布广告</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../login.html">登录</a></li>
        <li><a href="../register.html">注册</a></li>
	  <li id="settingBtn"><a href="#"><span class="glyphicon glyphicon-cog" ></span></a></li>
        <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <button type="button" class="btn btn-default btn-sm" id="langBtn"><span class="lang-sm" lang="zh"></span></button><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><span class="lang-sm lang-lbl" lang="en"></span></a></li>
            <li><a href="#"><span class="lang-sm lang-lbl" lang="ja"></span></a></li>
            <li><a href="#"><span class="lang-sm lang-lbl" lang="ko"></span></a></li>
            <li><a href="#"><span class="lang-sm lang-lbl" lang="ru"></span></a></li>
            <li><a href="#"><span class="lang-sm lang-lbl" lang="vi"></span></a></li>
          </ul>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- header -->


<!-- Modal -->
<div class="modal fade" id="settingModal" role="dialog">
    <div class="modal-dialog">
   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">设置</h4>
        </div>
        <div class="modal-body">
		  <div class="form-group">
          <label for="currency">折算货币</label>
          <select class="form-control" id="currency">
          <option>美元</option>
          <option>人民币</option>
          <option>韩元</option>
           <option>欧元</option>
		   <option>英镑</option>
		   <option>卢布</option>
           </select>
          </div>
		  <div class="form-group">
          <p>主题</p>
          <form>
          <label class="radio-inline">
          <input type="radio" name="optradio">黑色
          </label>
          <label class="radio-inline">
          <input type="radio" name="optradio">白色
          </label>
          </form>
          </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
        </div>
      </div>
     
    </div>
  </div>
<script>
$(document).ready(function(){
    $("#settingBtn").click(function(){
        $("#settingModal").modal();
    });
});
</script>

<!-- header -->

<!--  box -->
<div class="container" >
<div class="row" style="margin-top: 40px;">

<div  class="col-sm-3 col-md-3 col-lg-3" >
<div style="background-color:#f7f9fc; margin: 5px;  ">
 <table class="table">
  <tr>
    <th colspan="3" ng-cloak>{{ order.seller}}</th>
  </tr>
  <tr>
    <td ng-cloak>{{ order.transactionTimes}}</td>
    <td ng-cloak>{{ order.positiveComments}}</td>
    <td ng-cloak>{{ order.negetiveComments}}</td>
  </tr>
    <tr>
    <td>交易次数</td>
    <td>好评人数</td>
    <td>差评人数</td>
  </tr>
</table>
</div>

<div style="background-color:#f7f9fc; margin: 5px;  ">
 <table class="table">
  <tr>
    <th>广告留言：</th>
  </tr>
  <tr>
    <td>沒有留言</td>
  </tr>
</table>
</div>
</div>

<div class="col-sm-9 col-md-9 col-lg-9" >
<div style="background-color:#f7f9fc; margin: 5px;  ">
 <table  class="table table-condensed">
    <tbody>
      <tr>
        <td>报价:</td>
        <td ng-cloak>{{ order.bid}}</td>
      </tr>
      <tr>
        <td>交易限额:</td>
        <td ng-cloak>{{ order.limit}}</td>
      </tr>
      <tr>
        <td>付款方式:</td>
        <td ng-cloak>{{ order.paymentMethod}}</td>
      </tr>
      <tr>
        <td>付款期限:</td>
        <td ng-cloak>{{ order.paymentTime}}</td>
      </tr>
      <tr>
        <td>付款信息:</td>
        <td>在您下单后显示</td>
      </tr>
    </tbody>
  </table>
  
  <form action="/action_page.php"  name="orderForm" novalidate>
  <label for="amount">您想购买多少</label>
  
    <div class="input-group" style="max-width: 300px; "  >
      <input id="amount" type="text" class="form-control" name="amount" placeholder="输入想要购买的金额" ng-model="order.amount"  ng-change="order.exchangeToBTC()">
      <span class="input-group-addon">CNY</span>   
    </div>
    
    <span class="glyphicon glyphicon-transfer" style=" margin-left: 30px;  margin-right: 30px;"></span>
    
    <div class="input-group" style="max-width: 300px; "  >
      <input id="exchangedAmount" type="text" class="form-control" name="exchangedAmount" ng-model="order.exchangedAmount" ng-change="order.exchangeToCash()">
      <span class="input-group-addon">BTC</span>
    </div>
     <div class="form-group" style="margin-top: 20px; "  >
    <button type="submit" class="btn btn-success" name="submit" >下单</button>
     </div>
  </form>
  </div>
</div>

</div>

<div class="row" style="margin-top: 40px; margin-bottom: 60px;">

<div  class="col-sm-3 col-md-3 col-lg-3"  >
</div>

<div  class="col-sm-9 col-md-9 col-lg-9"  >
<p><b>交易须知</b></p>

<p>1. 付款前请仔细核实对方信息</p>

<p>2. 交易请勿脱离平台，一旦脱离，您将失去Shangma的保护</p>

<p>3. 遇到纠纷，请保留好包括聊天记录在内的证据，立即联系我们。</p>
</div>

</div>

</div>
<!-- box -->


<div class="footer">
<div class="container">
<footer id="page-footer">
    <div class="page-container">
  <div class="footer-content clearfix">
     <div class="footer-content-block desktop-only">
   <h4>服务</h4>
   <ul>
    <li><a href="#" title="行业报告">行业报告</a></li>
<li><a href="#" title="币种介绍">币种介绍</a></li>
<li><a href="#" title="常见问题">常见问题</a></li>
<li><a href="#" title="使用教程">使用教程</a></li>
<li><a href="#" title="公告">公告</a></li>
  </ul>
     </div>
     
      <div class="footer-content-block desktop-only">
   <h4>工具</h4>
   <ul>
    <li><a href="#" title="客户端下载">客户端下载</a></li>
<li><a href="#" title="帮助中心">帮助中心</a></li>
<li><a href="#" title="API文档">API文档</a></li>
<li><a href="#" title="数字资产介绍">数字资产介绍</a></li>
<li><a href="#" title="新手引导">新手引导</a></li>
   </ul>
     </div>
     
     <div class="footer-content-block desktop-only">
   <h4>关于</h4>
   <ul>
    <li><a href="#" title="关于火币">关于火币</a></li>
<li><a href="#" title="联系我们">联系我们</a></li>
<li><a href="#" title="加入我们">加入我们</a></li>
<li><a href="#" title="上币申请">上币申请</a></li>
   </ul>
     </div>
           
           
     <div class="footer-content-block">
   <h4>条款说明</h4>
    <ul>
<li><a href="#" title="用户协议">用户协议</a></li>
<li><a href="#" title="隐私条款">隐私条款</a></li>
<li><a href="#" title="法律声明">法律声明</a></li>
   </ul>
     </div>
  </div>
  <div class="footer-credit clearfix ">
     <h5>www.chaojichaxun.com 版权所有</h5>
  </div>     
    </div>
 </footer>
</div>
</div>
<script>
$('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
});
</script>
 
<!-- Libraries -->
<script src="../libs/angular.min.js"></script>
<script src="../libs/angular-route.min.js"></script>
<script src="../libs/angular-messages.min.js"></script>
<script src="../js/modules/angular-cookies.js"></script>
<script src="../js/dirPagination.js"> </script>
<script src="../app.js"></script>
<script src="../js/controllers/order.js"></script>
</body>
</html>
